 



@media (min-width: 1200px)   {
    .container{
        max-width: 1250px;
    }
}

@media (max-width: 1900px)   {
    .scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer {
        left: -7px;
        width: 10px;
    }
}
@media (max-width: 1600px)   {
    .banner-inner {
        width: calc(50vw + 600px);
    }
    .clients-sec:before{
        left: -90px;
    }
    .clients-sec:after{
        right: -100px;
    }
    .rigester-main-page .login-manage{ 
        height: 100%;
    }
    .festivus-main{
        height: 100%;
    }
    .rigester-main-page .login-footer,
    .festivus-main .login-footer{
        position: static; 
    }
    .insurer-credential-page.festivus-main .festivus-secure{
        height: 100%;
    }
    .insurer-credential-page .festivus-secure{
        height: 100%;
    }
    .insurer-credential-page .login-footer{
        position: static;
    }
    .insurer-credential-page.insurer-credential-error .festivus-secure{
        height: 100vh;
    }
    .insurer-credential-page.insurer-credential-code-page.insurer-credential-error .festivus-secure{
        height: 100%;
    }


} 
@media (max-width: 1300px)   {
    .banner-inner {
        width: calc(50vw + 580px);
    }
    .banner-inner .text-box h1{
        font-size: 44px;
    }
    .rigester-main-page .login-footer {
        position: fixed;
    }
    .rigester-main-page .login-manage{
        height: 100vh;
    }
    .festivus-main{
        height: 100vh;
    }
    .rigester-main-page .login-footer, .festivus-main .login-footer {
        position: fixed;
    }
    .insurer-credential-page .festivus-secure{
        height: 100vh;
    }
    .insurer-credential-page .login-footer{
        position: fixed;
    }
    .insurer-credential-page.insurer-credential-code-page.insurer-credential-error .festivus-secure{
        height: 100vh;
    }
} 
@media (max-width: 1199px)   {
    .banner-inner {
        width: calc(50vw + 465px);
    }
    .banner-inner .text-box h1 {
        font-size: 35px;
        line-height: 48px;
        color: #fff;
        letter-spacing: -0.48px;
    }
    .banner-inner .text-box {
        padding: 20px 0 0 0;
    }
    .banner-inner .text-box p {
        margin: 18px 0;
    }
    .banner-sec{
        padding: 221px 0 30px 0;
    }
    .employees-guide-box .text-box {
        max-width: 510px;
    }
    .employees-guide-box .text-box h4 {
        font-size: 24px;
        line-height: 34px;
    }
    .americans-pocket-box h4 {
        font-size: 16px;
        line-height: 24px;
    }
    .americans-pocket-box p {
        font-size: 14px;
        line-height: 22px;
        margin: 15px 0 20px;
    }

    .clients-box .text-box p{
        font-size: 14px;
        line-height: 20px; 
    }
    .taking-box{
        padding: 15px;
    }
    .taking-box p {
        font-size: 14px;
        line-height: 22px;
        margin: 15px 0;
    }
    footer .connect{
        margin-top: 0;
    }
    .powering-employers-inner .nav-pills .nav-item .nav-link {
        padding: 9px 39.2px;
    }
    .powering-employers-box h4{
        font-size: 17px;
    }
    .career-page .banner-sec:after {
        width: 360px;
        height: 360px;
    }
    .career-page .banner-inner:after {
        right: -144px;
        bottom: -80px;
        width: 350px;
        height: 350px;
    }
    .nayyan-perk-box{
        padding: 30px 0 0 0;
    }
    .nayyan-perk-box .text-box {
        padding-left: 30px;
    }
    .nayyan-perk-box .text-box h3 {
        font-size: 34px;
        line-height: 54px;
    }
    .nayyan-perk-box-right {
        padding-right: 30px;
        margin: 20px 0 0 0;
    }
    .product-page .banner-inner .nav-pills {
        max-width: 546px;
    }
    .product-page .banner-inner .nav-pills .nav-item .nav-link{
        font-size: 18px;
        padding: 9px 25.5px;
    }
    .product-page .banner-inner .nav-pills .nav-item .nav-link img {
        margin-left: 8px;
    }
    .product-page .banner-inner .text-box h1 {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 25px;
    }
    .product-page .banner-inner .text-box p {
        font-size: 16px;
        line-height: 26px;
    }
    .story-banner-inner .text-box h1 {
        font-size: 34px;
        line-height: 54px;
    }
    .financial-concern-box {
        margin: 15px 10px 15px 0;
    }
    .financial-concern-box p{
        font-size: 14px;
        line-height: 22px;
    }
    .financial-concern-box h4 {
        font-size: 40px;
    }
    .reason-being{
        padding: 30px;
    }
    .reason-being h3 {
        font-size: 36px;
    }
    .request-demo-inner .text-box h3 {
        font-size: 31px;
        line-height: 50px;
        margin-bottom: 15px;
    }
    .request-demo-right {
        padding-left: 0;
        padding-top: 0;
    }
    .clients-box .text-box h3 {
        font-size: 22px;
        line-height: 32px;
        margin: 30px 0;
    }
    .career-page .banner-sec {
        padding: 120px 0 40px 0;
    }
    .career-page .banner-inner .text-box h1 br{
        display: none;
    }
    .powering-employers-inner .nav-tabs .nav-item .nav-link {
        padding: 9px 39.2px;
    }
} 
@media (max-width: 991px)    {
    .header-right ul li a {
        font-size: 14px;
    }
    .header-right ul li a.request-demo-btn { 
        margin-left: 20px;
        width: 170px;
        height: 45px;
    }
    .navbar-nav .nav-item {
        padding: 0 15px;
    }
    .navbar-nav .nav-item .nav-link{
        font-size: 14px;
    }
    .navbar-brand {
        padding: 0 10px 0 0px;
    }
    .announcement-sec {
        top: 91px;
    }
    .banner-sec {
        padding:210px 0 50px 0;
    }
    .banner-inner {
        width: calc(50vw + 345px);
    }
    .banner-inner .text-box {
        padding: 0;
    }
    .banner-inner .text-box h1 {
        font-size: 26px;
        line-height: 36px;
    }
    .banner-inner .text-box p {
        margin: 15px 0;
        font-size: 14px;
        line-height: 22px;
    }
    .employees-guide-sec {
        padding: 50px 0;
    }
    .employees-guide-box {
        padding: 40px 0;
    }
    .employees-guide-inner h3 {
        font-size: 26px;
        line-height: 36px;
        max-width: 600px;
        margin-bottom: 30px;
    }
    .employees-guide-box .text-box{
        padding: 0;
    }
    .employees-guide-box .text-box h4 {
        font-size: 18px;
        line-height: 28px;
    }
    .employees-guide-box .text-box p {
        font-size: 14px;
        line-height: 22px;
    }
    .americans-pocket-inner h3 {
        font-size: 28px;
        line-height: 38px;
        max-width: 640px;
        margin-bottom: 40px;
    }
    .clients-sec .title h3 {
        font-size: 26px;
        line-height: 36px;
    }
    footer .connect {
        margin-right: 0;
        margin-bottom: 50px;
    }
    .footer-left{
        margin-bottom: 30px;
    }
    .footer-left p {
        margin: 10px 0;
        font-size: 14px;
    }
    .powering-employers-inner .nav-pills .nav-item .nav-link {
        padding: 9px 21.8px;
        font-size: 16px;
    }
    .powering-employers-inner .nav-pills .nav-item .nav-link img {
        margin-left: 7px;
    }
    .powering-employers-box h4 {
        padding: 20px 0;
        min-height: 80px;
    }
    .powering-trusted{
        margin-top: 30px;
    }
    .powering-trusted ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .powering-trusted ul li {
        margin: 10px 0;
    }

    .career-page .banner-sec:before {
        left: -230px;
        top: 65px;
        width: 400px;
        height: 400px;
    }
    .career-page .banner-sec:after {
        width: 310px;
        height: 310px;
        left: 36%;
        top: -90px;
    }
    .career-page .banner-inner:after {
        right: -124px;
        bottom: -60px;
        width: 290px;
        height: 290px;
    }
    .nayyan-perk-box .text-box h3 {
        font-size: 26px;
        line-height: 46px;
    }
    .nayyan-perk-box-right .text-inner {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .find-sport-inner {
        padding: 30px;
    }
    .find-sport-inner .text-box h3 {
        font-size: 34px;
        margin-bottom: 30px;
    }
    .career-page .banner-inner .text-box h1 br{
        display: none;
    }
    .product-page .banner-inner .nav-pills {
        max-width: 440px;
    }
    .product-page .banner-inner .nav-pills .nav-item .nav-link {
        font-size: 14px;
        padding: 9px 23.4px;
    }
    .product-page .banner-inner .text-box h1 {
        font-size: 20px;
        line-height: 28px;
        max-width: 266px;
        margin-bottom: 10px;
    }
    .product-page .banner-sec .image-holder {
        margin-bottom: -30px;
    }
    .product-page .banner-inner .text-box p {
        font-size: 14px;
        line-height: 24px;
    }
    .story-banner-sec {
        padding: 150px 0 50px 0;
    }
    .story-banner-inner .text-box h1 {
        font-size: 27px;
        line-height: 46px;
    }
    .financial-concern-sec {
        padding: 40px 0;
    }
    .financial-concern-box {
        margin: 10px 0 15px 0;
        padding: 10px 0 0 0;
    }
    .reason-being {
        padding: 20px;
    }
    .reason-being h3 {
        font-size: 28px;
    }
    .reason-being .text-box p { 
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .taking-notice-inner{
        padding: 20px;
    }
    .request-demo-right .form-group p {
        font-size: 12px;
    }
    .request-demo-right .form-group .btn-default { 
        max-width: 125px; 
        height: 40px; 
        font-size: 14px; 
    }
    .request-demo-right .form-group {
        margin-bottom: 10px;
    }
    .request-demo-right .form-group .form-control {
        font-size: 16px;
        line-height: 26px;
        height: 40px;
    }
    .request-demo-inner .text-box h3 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 15px;
    }
    #pills-profile .clients-box .text-box,
    #pills-contact .clients-box .text-box{
        padding: 20px 20px 20px 35px;
    }
    .clients-box .text-box {
        padding: 20px 20px 20px 35px;
        width: calc(100% - 280px);
    }
    .clients-box .image-point {
        max-width: 280px;
        height: 282px;
    }
    .clients-box .text-box p {
        margin: 22px 0;
    }
    .clients-box .text-box h3 {
        font-size: 18px;
        line-height: 28px;
        margin: 25px 0;
    }
    .clients-box .text-box h3 span {
        left: -15px;
        font-size: 18px;
        top: 1px;
    }
    .user-detail .text-inner {
        padding-left: 15px;
    }
    .user-detail .text-inner span{
        font-size: 12px;
    }
    .powering-employers-inner .nav-tabs .nav-item .nav-link {
        padding: 10px 21.8px;
        font-size: 16px;
    }
    .powering-employers-inner .nav-tabs .nav-item .nav-link img {
        margin-left: 6px;
    }
    .long-text-inner .tabs-area .nav-tabs {
        max-width: 200px; 
    }
    .long-text-inner .tabs-area .tab-content{
        margin-left: 20px;
    }
    .privacy-policy-inner .text-box h3 {
        font-size: 36px;
        line-height: 46px;
    }
    .privacy-policy-inner .text-box p {
        margin: 15px 0 25px;
    }
    .privacy-policy-inner .text-inner h4 {
        font-size: 18px;
        line-height: 29px;
    }
    .privacy-policy-inner .text-inner p {
        font-size: 16px;
        line-height: 26px;
        margin: 15px 0 30px;
    }
    .privacy-policy-inner .text-box span {
        margin: 15px 0 20px;
    }
    .privacy-policy-inner .text-inner p {
        margin: 15px 0;
    }
    .privacy-policy-inner table thead tr th,
    .privacy-policy-inner table tbody tr td{
        padding: 15px;
    }
    .message-inner-right {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 6px;
    }
    .message-reply .scroll-wrapper {
        padding: 20px 25px 0 0 !important;
    }
    .message-text-box ul li { 
        margin-bottom: 10px;
        line-height: 20px;
    }
    .reply-title {
        padding-bottom: 10px;
    }
    .message-text-box h4 {
        margin-bottom: 10px;
        line-height: 20px;
    }
    .reply-timing {
        margin-bottom: 15px;
    }
    .new-message-right { 
        padding: 46px 30px 43px;
    }
    .new-message-right form .form-group .dropdown-menu {
        width: 100%;
    }
    .new-message-right form .form-group .dropdown-menu li a.dropdown-item {
        font-size: 14px;
        padding: 13px 30px;
    }
} 
@media (max-width: 767px)    {
    .container, .container-sm {
        max-width: 100%;
    }
    header{
        padding: 20px 30px;
    }
    .darkHeader .navbar-toggler-icon img.mobile-version{
        filter: brightness(0%);
    }
    .announcement-sec {
        top: 70px;
    }
    .navigation { 
        margin: 0 -15px;
    }
    .navbar-brand img.mobile-version{
        display: block;
    }
    .navbar-brand img.dasktop-version{
        display: none;
    }
    .navbar-light .navbar-toggler{
        border: none;
        border-radius: 0;
        padding: 0;
    }
    .navbar-toggler-icon .mobile-version{
        display:block;
    }
    .navbar-toggler-icon .dasktop-version{
        display: none;
    }
    .navbar-light .navbar-toggler-icon{
        background: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .navbar-brand{
        padding: 0;
        margin: 0;
    }
    .navbar-brand img{
        max-width: 72px;
        width: 100%;
    }
    .header-bottom {
        padding: 12px 30px;
        margin: 0 -15px;
    }
    .banner-sec {
        padding: 183px 30px 0px;
    }
    .banner-inner .text-box h1 br{
        display: none;
    }
    .banner-inner {
        width: 100%;
    }
    .banner-inner .text-box h1 {
        font-size: 28px;
        line-height: 36px; 
        position: relative;
        z-index: 1;
    }
    .banner-inner .text-box p{
        font-size: 15px;
        line-height: 25px;
        margin: 15px 0 23px; 
    }
    .banner-inner .text-box .btn-default {
        margin-left: auto;
    }
    .btn-default {
        max-width: 141px;
        width: 100%;
        height: 42px;
        font-size: 15px;
        position: relative;
        z-index: 1;
    }
    .banner-inner .image-holder{
        margin-right: -30px;
        margin-top: 34px;
    }
    .trusted-inner ul li {
        margin: 15px 0;
        padding: 0 25px;
    }
    .trusted-sec {
        padding: 50px 0;
    }
    .employees-guide-sec {
        padding: 30px 15px;
    }
    .employees-guide-inner h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .employees-guide-box .text-box h4 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 11px;
    }
    .employees-guide-box .text-box p {
        font-size: 15px;
        line-height: 25px;
    }
    .employees-guide-box .image-holder{
        text-align: center;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .employees-guide-box .text-box {
        padding: 0 0 25px 0;
    }
    .employees-guide-box {
        padding: 0 0 53px 0;
    }
    .americans-pocket-sec {
        padding: 38px 17px 20px;
    }
    .americans-pocket-inner h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .americans-pocket-box p {
        font-size: 15px;
        line-height: 25px;
        margin: 15px 0 26px;
    }
    .americans-pocket-box a{
        font-size: 15px;
    }
    .americans-pocket-box {
        padding: 15px 0 0 0;
    }
    .clients-sec {
        padding: 42px 15px 54px;
    }
    .clients-sec .title h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .clients-sec .title {
        align-items: flex-start;
        margin-bottom: 18px;
        flex-direction: column;
    }
    .clients-sec .title .nav-pills{
        margin: 18px auto 0; 
    }
    .image-point{
        display: none;
    }
    .clients-box .text-box img{
        display: none;
    }
    .clients-box .text-box p {
        font-size: 15px;
        margin-top:  0;
        line-height: 25px;
    }
    .user-detail .image-holder img{
        display: block;
    }
    .user-detail .text-inner h4{
        font-size: 15px;
    }
    .clients-box .text-box,
    #pills-profile .clients-box .text-box, #pills-contact .clients-box .text-box{
        padding: 34px 30px 24px;
        width: 100%;
    }
    .user-detail .text-inner span {
        font-size: 15px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; 
        -webkit-box-orient: vertical;
    }
    .clients-box .text-box h3 {
        font-size: 15px;
        line-height: 25px;
        margin: 0 0 25px;
    }
    .clients-box .text-box h3 span {
        left: -11px;
        font-size: 15px;
        top: 1px;
    }
    .clients-sec::after,
    .clients-sec::before{
        display: none;
    }
    .taking-people-inner h3 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 7px;
    }
    .taking-people-sec {
        padding: 50px 15px 80px;
        margin-bottom: -40px;
    }
    .taking-box p {
        font-size: 13px;
        line-height: 25px;
    }
    footer {
        padding: 40px 15px 36px;
    }
    footer .connect { 
        margin: 0 0 40px 0;
        max-width: 100%;
    }
    footer .connect p{
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 3px;

    }
    footer .connect .btn-default{
        margin-left: auto;
    }
    .footer-left p{
        font-size: 13px;
        margin: 21px 0;
    }
    .footer-link { 
        margin-bottom: 38px;
    }
    .footer-left {
        margin-bottom: 46px;
    }
    .copyright{
        margin: 0;
        padding: 13px 0 0 0;
    }
    .copyright-inner{
        flex-direction: column;
    }
    .copyright-inner ul li:first-child{
        padding-left: 0;
    }
    .copyright-inner p {
        margin-right: 0;
        margin-bottom: 4px;
    }
    .navbar-collapse {
        position: absolute;
        left: 0;
        top: 55px;
        background-color: #000;
        width: 100%;
        display: none;
    }
    .navbar-nav .nav-item {
        padding: 0;
    }
    .navbar-nav .nav-item .nav-link{
        padding: 15px;
    }
    .header-right ul li a.request-demo-btn {
        width: 155px;
        height: 40px;
    }
    .header-right ul {
        justify-content: flex-start;
    }
    .header-right{
        padding: 15px;
    }
    .submenu{
        width: 100%;
        position: static;
        display: none;
        opacity: 1;
        background-color: transparent;
        box-shadow: none;
        border: none;
        padding: 0;
        visibility: visible;
    }
    .submenu ul li a{
        padding: 6px 20px;
    }
    .submenu ul li a:hover{
        background: transparent;
    }
    .submenu.active{
        display: block;
    }
    .why-nayya-page .banner-sec {
        padding: 80px 30px 0;
        position: relative;
    }
    .why-nayya-page .banner-sec:after{
        position: absolute;
        content: "";
        top: -47px;
        left: -151px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 219, 96, 0.6) 0%, rgba(255, 230, 194, 0) 100%); 
        opacity: 0.6;
        width: 310px;
        height: 275px;

    }
    .why-nayya-page .banner-sec:before{
        position: absolute;
        content: "";
        bottom: 91px;
        right: -90px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(244, 200, 207, 0.8) 0%, rgba(244, 200, 207, 0) 100%);
        opacity: 0.6;
        width: 245px;
        z-index: 1;
        height: 218px;

    }
    .why-nayya-page  .banner-inner .image-holder { 
        margin-left: -30px;
        margin-bottom: 0;
        margin-top: 30px;
        z-index: 2;
        position: relative;
    }
    .powering-trusted ul li {
        width: 50%;
        margin: 25px 0;
    }
    .powering-trusted ul {
        text-align: center;
        margin-top: 4px;
    }
    .powering-employers-detail {
        padding: 30px 0 35px;
    }
    .powering-employers-left h3 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .powering-employers-sec {
        padding:35px 15px 0;
    }
    .powering-employers-inner .nav-pills {
        margin: 0 auto;
    }
    .powering-employers-box h4 {
        font-size: 16px;
        line-height: 24px;
        padding-top: 18px;
        padding-bottom: 15px;
        min-height: auto;
    }
    .powering-employers-box p {
        font-size: 15px;
        line-height: 25px;
        max-width: 100%;
        width: 100%;
    }
    .powering-employers-left .swiper-pagination {
        display: block;
        padding: 33px 0 0 0;
    }
    .career-page .banner-sec {
        padding: 100px 30px 40px 30px;
    }
    .nayyan-perk-inner .nav-pills{ 
        margin: 0 auto 30px;
    }
    .nayyan-perk-sec{
        padding: 0 15px;
    }
    .career-page .banner-inner:after {
        right: -124px;
        bottom: -20px;
        width: 220px;
        height: 220px;
    }
    .career-page .banner-sec:after {
        width: 240px;
        height: 240px;
        left: 35%;
        top: -70px;
    }
    .nayyan-perk-box .text-box{
        padding: 0;
    }
    .nayyan-perk-box {
        padding: 30px;
    }
    .nayyan-perk-box .text-box h3 {
        font-size: 28px;
        line-height: 38px;
    }
    .nayyan-perk-box-right {
        padding-right: 0;
        margin: 30px 0 0 0;
    }
    .find-sport-sec {
        padding: 50px 15px;
    }
    .find-sport-inner .text-box h3 {
        font-size: 28px;
        margin-bottom: 15px;
        line-height: 38px;
    }
    .find-sport-right{
        margin-top: 15px;
    }
    .product-page .banner-sec {
        padding: 91px 0 0;
        margin-bottom: 0;
    }
    .product-page .banner-inner .text-box {
        margin-top: 0;
        padding: 0 30px;
    }
    .product-page .banner-inner .text-box h1 {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 15px;
        max-width: 100%;
    }
    .product-page .banner-inner .nav-pills {
        margin: 0 auto 46px;
        max-width: 100%;
        position: relative;
        z-index: 1;
    }
    .product-page .banner-inner .nav-pills .nav-item{
        width: 50%;
    }
    .product-page .banner-inner .container {
        padding: 0 30px;
    }
    .product-page .banner-sec .image-holder {
        margin-bottom: -40px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 30px;
    }
    .product-page .banner-inner .nav-pills .nav-item .nav-link {
        font-size: 15px;
        padding: 14px 22px;
    }
    .product-page .banner-inner .text-box{
        max-width: 100%;
    }
    .product-page .banner-inner .text-box p {
        font-size: 16px;
        line-height: 26px;
    }
    .product-page .employees-guide-sec {
        padding: 30px 15px;
        margin-bottom: -40px;
    }
    .product-page .employees-guide-box{
        padding: 0 0 53px 0;
    }
    .story-banner-sec {
        padding: 100px 15px 30px 15px;
    }
    .financial-concern-sec {
        padding: 0px 15px;
    }
    .reason-being {
        padding: 20px;
        margin: 20px 0;
    }
    .backed-sec {
        padding: 50px 15px;
    }
    .backed-inner ul li {
        margin: 20px 0;
    }
    .taking-notice-sec {
        padding: 50px 15px 150px;
    }
    .taking-notice-inner{
        margin: 30px 0 0 0;
    }
    .notice-update p{
        font-size: 10px;
    }
    .taking-notice-inner .image-holder{
        margin-bottom: 15px;
    }
    .notice-update {
        padding: 20px 0 0 0;
    }
    .request-demo-modal {
        padding: 30px 15px;
        align-items: flex-start;
        justify-content: center;
    }
    .request-demo-inner .close-icon {
        margin-bottom: 30px;
    }
    .request-demo-inner .close-icon img{
        height: 28px;
    }
    .request-demo-inner .text-box h3{
        display: none;
    }
    .request-demo-inner .text-box p {
        font-size: 15px;
        line-height: 25px;
    }
    .request-demo-right .form-group {
        margin-bottom: 30px;
    }
    .request-demo-right .form-group .form-control {
        font-size: 15px;
        line-height: 25px;
        height: 40px;
    }
    .request-demo-right {
        padding-top: 30px;
    }
    .request-demo-right .form-group p {
        font-size: 13px;
    }
    .request-demo-right .form-group .btn-default {
        max-width: 142px;
        height: 42px;
        font-size: 15px;
    }
    .request-demo-modal:after {
        left: -95px;
        bottom: -60px;
        width: 245px;
        height: 218px;
    }
    .request-demo-main:before {
        right: auto;
        bottom: auto;
        top: -120px;
        left: -160px;
        width: 275px;
        height: 245px;
    }
    .request-demo-modal:before {
        left: auto;
        transform: translate(0,0);
        top: 90px;
        right: -130px;
        width: 310px;
        height: 274px;
    }
    .clients-box{
        flex-direction: column;
    }
    .story-page header.darkHeader .navbar-toggler-icon img{
        filter: brightness(0%);
    }
    .financial-concern-box h4 span{
        padding: 0 5px;
    }
    .nav-tabs{
        border: none;
    }
    .powering-employers-inner .nav-tabs{
        margin: 50px 0 0 0;
        background: #FFF8EC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 26px 26px;  
    }
    .powering-employers-inner .nav-tabs.responsive-tabs.open{
        border-top: 2px solid #000;
        padding: 19px 0 15px;
    }
    .powering-employers-inner .nav-tabs.responsive-tabs.open .nav-item .nav-link.active img{
        transform: rotate(270deg);
        margin: -5px 0 0 0;
    }
    .powering-employers-inner .nav-tabs .nav-item .nav-link.active{
        position: absolute;
        top:-50px;
        left: 0;
        background: #FFFFFF;
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.48px;
        padding: 8px 50px 8px 30px;
        border: 1.73913px solid #E6E6E6;
        height: 40px;
        transition: all 0s ease-in-out;
    }
    .powering-employers-inner .nav-tabs .nav-item .nav-link{
        transition: all 0s ease-in-out;
        padding: 8px 29px;
    }
    .powering-employers-inner .nav-tabs .nav-item .nav-link.active img{
        opacity: 1;
        filter: brightness(0)invert(0);
        display: block;
        right: -21px;
        width: 8px;
        transform: rotate(90deg);
        margin: -3px 0 0 0;
    }
    .powering-employers-inner .nav-tabs .nav-item .nav-link img{
        display: none;
    }
    .long-text-page {
        padding: 70px 0 0 0;
    }
    .long-text-sec {
        padding: 20px 15px 60px;
    }
    .long-text-inner .tabs-area {
        flex-direction: column;
    }
    .long-text-inner .tabs-area .nav-tabs{
        max-width: 100%;
        border: none;
        margin: 50px 0 0 0;
        background: #FFF8EC;

        border-radius: 0 0 26px 26px; 
        border-top: none;
        padding: 0;
        /*padding: 19px 0 15px;*/
    }
    .long-text-inner .tabs-area .StickySidebar {
        border-top: none;
        padding: 0!important;
    }
    .long-text-inner .tabs-area .nav-tabs.responsive-tabs.open{
        padding: 15px 0;
        border-top: 2px solid #000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
    .long-text-inner .tabs-area .nav-tabs .nav-item{
        margin: 0;
    }
    .long-text-inner .tabs-area .nav-tabs .nav-item .nav-link.active {
        position: absolute;
        top: -50px;
        left: 0;
        background: #FFFFFF;
        color: #000000;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: -0.48px;
        border-radius: 80px;
        padding: 8px 20px;
        border: 1.73913px solid #E6E6E6;
        height: 40px;
        line-height: 21px;
        transition: all 0s ease-in-out;
    }
    .long-text-inner .tabs-area .nav-tabs .nav-item .nav-link {
        padding: 5px 15px;
    }
    .long-text-inner .tabs-area .nav-tabs .nav-item .nav-link img{
        display: none;
    }
    .long-text-inner .tabs-area .nav-tabs .nav-item .nav-link span{
        display: flex;
    }
    .long-text-inner .tabs-area .nav-tabs .nav-item .nav-link.active img{
        opacity: 1; 
        display: block; 
        width: 8px;
        visibility: visible;
        transform: rotate(90deg);
        transition: all 0.5s ease-in-out;
        margin: 4px 0 0 10px;
    }
    .long-text-inner .tabs-area .nav-tabs.responsive-tabs.open .nav-item .nav-link.active img{
        transform: rotate(270deg);
        transition: all 0.5s ease-in-out;
    }
    .long-text-inner .tabs-area .tab-content {
        margin: 30px 0 0 0;
        padding-top: 20px;
    }
    .login-footer-inner p {
        font-size: 12px;
        margin-right: 15px;
    }
    .login-footer-inner ul {
        margin: 0 -2px;
    }
    .login-footer-inner ul li {
        padding: 0 2px;
    }
    .rigester-main-page .login-manage-inner {
        max-width: 550px;
        width: 100%;
    }
    .rigester-main-page  .check { 
        font-size: 11px; 
    }
    .my-message-main{
        margin: 0 -15px;
    }
    .my-message-sec{ 
        max-width: 100%;
    }
    .my-message-sec .dasktop-version{
        display: none;
    }
    .my-message-sec .mobile-version{
        display: block;
    }
    .my-message-inner {
        flex-direction: column;
        position: relative;
    }
    .message-inner-left {
        max-width: 100%;
        width: 100%;
        padding-bottom: 0;
    }
    .message-read {
        padding: 18px 17px 12px;
    }
    .message-read h3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000000;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.02em;
        margin-bottom: 8px;
    }
    .message-send {
        padding: 0 15px;
    }
    .message-inner-right {
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
    }
    .message-inner-right.active{
        opacity: 1;
        visibility: visible;
    }
    .message-reply{
        padding: 20px 15px;
    }
    .reply-title {
        padding-bottom: 20px;
    }
    .message-text-box h4 {
        margin-bottom: 20px;
        line-height: 20px;
    }
    .message-text-box ul {
        padding: 20px 0;
    }
    .message-text-box ul li {
        margin-bottom: 20px;
    }
    .reply-user {
        padding: 20px 0 0 0;
    }
    .mobile-version .message-inner-right .tab-content{
        height: calc(100% - 70px);
        overflow-y: auto;
    }
    .message-reply .scroll-wrapper {
        height: 100%;
        padding: 0 15px 0 0 !important;
    }
    .mobile-version .tab-pane{
        height: 100%;
    }
    .thanks-message-inner {
        padding: 30px 15px;
    }
    .thanks-message-inner .text-box h3 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .thanks-message-inner .text-box p {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 45px;
    }
    .new-message-right form .dropdown-toggle{
        font-size: 14px;
    }
    .new-message-right form .form-group .dropdown-menu {
        padding: 10px 0;
        margin: 15px 0 0 0;
    }
    .new-message-right form .form-group .dropdown-menu li a.dropdown-item {
        font-size: 12px;
        padding: 10px 10px;
        line-height: 20px;
        word-break: break-all;
        white-space: normal;
    }
    .new-message-right form .form-group .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
    }
    .new-message-right form .form-group .bootstrap-select .bs-ok-default:after {
        width: 15px;
        background-size: 15px;
    }
    .new-message-box {
        padding: 0 15px 76px;
    }
    .new-message-left {
        max-width: 185px;
    }
    .new-message-right {
        padding: 46px 20px 43px;
        width: calc(100% - 185px);
    }
} 
@media (max-width: 575px)    {
    .header-bottom span{
        display: none;
    }
    .header-bottom p {
        font-size: 15px;
        line-height: 25px;
    }
    .banner-sec {
        background: url(../images/banner-mobile,bg.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .banner-inner .image-holder img.mobile-version{
        display: block;
    }
    .banner-inner .image-holder img.dasktop-version{
        display: none;
    }
    .banner-inner .image-holder {
        margin-right: -30px;
        margin-left: -30px;
        margin-top: 0;
        margin-bottom: -30px;
    }
    .trusted-inner p{
        font-size: 15px;
    }
    .trusted-sec {
        padding: 36px 15px 26px;
    }
    .trusted-inner ul li{
        width: 33.3%;
        padding: 0;
        margin: 10px 0;
    }
    .trusted-inner ul li:first-child img{
        width: 70px;
    }
    .trusted-inner ul li:nth-child(2) img,
    .trusted-inner ul li:nth-child(3) img{
        width: 43px;
    }
    .trusted-inner ul li:nth-child(4) img{
        width: 60px;
    }
    .trusted-inner ul li:nth-child(5) img,
    .trusted-inner ul li:nth-child(6) img{
        width: 55px;
    }
    .trusted-inner ul li:nth-child(7) img{
        width: 53px;
    }
    .trusted-inner ul li:nth-child(8) img{
        width: 76px;
    }
    .trusted-inner ul{
        justify-content: center;
    }
    .employees-guide-inner h3 {
        font-size: 21px; 
    }
    .employees-guide-box .text-box h4{
        font-size: 15px;
    }
    .americans-pocket-sec{
        background-color: #EDF5F7;
    }
    .americans-pocket-box a{ 
        justify-content: flex-end;
    }
    .americans-pocket-box a span{
        display: inline-block;
        width: 25px;
        display: flex;
    }
    .americans-pocket-box:after{ 
        max-width: 90%;
    }
    .americans-pocket-box a img.mobile-version{
        display: block;
    }
    .americans-pocket-box a img.dasktop-version{
        display: none;
    } 
    .taking-box p {
        font-size: 15px;
        line-height: 25px;
    }
    .taking-box {
        padding: 24px 30px;
    }
    .copyright-inner ul li {
        padding: 0 15px; 
    }
    .americans-pocket-inner .swiper-button-next, .americans-pocket-inner .swiper-button-prev{
        display: block;
        background: rgba(255,223,110,1);
        width: 29px;
        height: 29px;
        display: flex;
        align-content: center;
        justify-content: center;
        border-radius: 50%; 

    }
    .americans-pocket-box p {
        max-width: 100%;
        padding-right: 30px;
    }
    .americans-pocket-inner .swiper-button-next, .americans-pocket-inner .swiper-container-rtl .swiper-button-prev {
        right: 10px;
        left: auto;
    }
    .americans-pocket-inner .swiper-button-prev{
        display: none;
    }
    .taking-people-inner  .swiper-button-prev{
        display: none !important;
    }
    .taking-people-inner .swiper-button-next {
        display: block;
    }
    .taking-people-inner .swiper-button-next, .taking-people-inner .swiper-button-prev{
        display: block;
        background: rgba(255,223,110,1);
        width: 29px;
        height: 29px;
        display: flex;
        align-content: center;
        justify-content: center;
        border-radius: 50%; 
    }
    .taking-people-inner .swiper-button-next{
        right: 2px;
        left: auto;
        top: 53%;
    }
    .powering-employers-box{
        padding-right: 40px;
    }
    .powering-employers-left .swiper-button-next{
        display: block;
        background: #FFDF6E;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 52%;
        right: 0;
    }
    .powering-trusted ul li img{
        max-width: 77px;
    }
    .powering-trusted ul li:nth-child(3) img{
        max-width: 70px;
    }
    .powering-trusted ul li:nth-child(4) img{
        max-width: 75px;
    }
    .why-nayya-page .banner-inner .text-box h1 br{
        display: none;
    }
    .career-page .banner-sec:before {
        left: -160px;
        top: 45px;
        width: 300px;
        height: 300px;
    }
    .career-page .banner-sec:after {
        width: 190px;
        height: 190px;
        left: 35%;
        top: -60px;
    }
    .nayyan-perk-inner .nav-pills .nav-item .nav-link {
        font-size: 12px;
        line-height: 14px;
        padding: 8px 14px;
        text-align: center;
    }
    .nayyan-perk-inner .nav-pills .nav-item .nav-link img {
        margin-left: 30px;
    }
    .nayyan-perk-box .text-box h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .nayyan-perk-box-right .text-inner h4{
        font-size: 16px;
    }
    .nayyan-perk-box-right .text-inner p {
        font-size: 15px;
        line-height: 25px;
    }
    .find-sport-inner .text-box h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .find-sport-right ul li a {
        font-size: 16px;
        line-height: 26px;
        padding: 15px 0;
    }
    .product-page .banner-inner .nav-pills .nav-item .nav-link{
        font-size: 12.7004px;
        line-height: 14px;
        padding: 8px 13px;
    }
    .product-page .banner-inner .nav-pills .nav-item .nav-link img {
        margin-left: 12px;
    }
    .product-page .banner-inner .text-box p {
        font-size: 15px;
        line-height: 25px;
    }
    .product-page .banner-sec .image-holder{
        margin-top: 0;
    }
    .product-page .banner-inner .text-box .btn-default.d-none {
        display: flex !important;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .story-banner-inner .text-box h1 {
        font-size: 28px;
        line-height: 36px;
    }
    .financial-concern-box h4 {
        font-size: 28px;
    }
    .financial-concern-box p {
        font-size: 15px;
        line-height: 25px;
    }
    .financial-concern-box {
        margin: 10px 0 32px 0;
        padding: 10px 0 0 0;
        max-width: 170px;
    }
    .story-banner-sec {
        padding: 150px 15px 50px 15px;
    }
    .story-bg .navbar-toggler-icon{
        filter: brightness(120);
    }
    .story-bg .navbar-light .navbar-brand img{
        max-width: 80px;
    }
    .reason-being h3 {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .reason-being .text-box p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .reason-being {
        padding: 20px 27px 33px 27px;
        margin: 20px 0 60px;
    }
    .backed-inner ul li img{
        max-width: 78px;
        width: 100%;
    }
    .backed-inner ul li:nth-child(2) img{
        max-width: 114px;
        width: 100%;
    }
    .backed-inner ul li:nth-child(3) img{
        max-width: 67px;
        width: 100%;
    }
    .backed-inner ul li:nth-child(4) img{
        max-width: 42px;
        width: 100%;
    }
    .backed-inner ul li:nth-child(5) img{
        max-width: 88px;
        width: 100%;
    }
    .backed-inner ul li:nth-child(6) img{
        max-width: 92px;
        width: 100%;
    }
    .backed-inner ul li {
        margin: 10px 0;
    }
    .backed-sec {
        padding:31px 0;
    }
    .taking-notice-sec{
        background: #D4ECEF;
    }
    .taking-notice-sec h3 {
        font-size: 22px;
        line-height: 20px;
    }
    .taking-notice-inner .text-box p{
        font-size: 15px;
        line-height: 25px;
    }
    .taking-notice-inner .image-holder img{
        height: 40px;
    }
    .notice-update {
        flex-direction: column;
        align-items: flex-start;
    }
    .notice-update p {
        max-width: 215px;
        width: 100%;
        font-size: 13px;
        margin-bottom: 11px;
    }
    .notice-update p:last-child{
        margin-bottom: 0;
    }
    .taking-notice-inner{
        background-color: #fff;
        padding: 30px;
    }
    .swiper-pagination {
        display: block;
    }
    .americans-pocket-inner .swiper-pagination {
        margin: 26px 0 0 0;
    }
    .product-page .banner-sec:after{
        width: 310px;
        height: 275px;
        left: -140px;
        bottom: auto;
        top: 26px;
    }
    .product-page .banner-sec::before{
        width: 245px;
        height: 218px;
        right: -93px;
        top: auto;
        bottom: 94px;
    }
    .product-page .banner-inner .nav-pills .nav-item .nav-link span br{
        display: block;
    }
    .story-bg{
        background: url(../images/story-bg-mobile.png) no-repeat;
        background-size: cover;
        background-position: right center;
    }
    .nayyan-perk-inner .nav-pills .nav-item .nav-link span br{
        display: block;
    }
    .clients-sec .title .nav-pills .nav-link {
        padding: 0 19px; 
    }
    .privacy-policy-inner .text-box h3 {
        font-size: 26px;
        line-height: 36px;
    }
    .login-manage{
        padding: 0;
        background: linear-gradient(338.13deg, #FFFBD8 0%, #FDDAE0 100.5%);
        border-top: 2px solid #000; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .login-manage-inner{
        background: none;
        box-shadow: none;
        border: none;
    }
    .login-manage-inner {
        padding: 46px 28px 0;
        margin-bottom: 111px;
    }
    .login-manage-inner form h5 {
        font-size: 15px;
        line-height: 25px;
    }
    .login-manage-inner form .form-group {
        margin: 0 0 37px 0;
    }
    .login-manage-inner p {
        margin: 28px 0 0 0;
    }
    .login-footer {
        padding: 0 15px 20px;
        position: static;
    }
    .login-footer-inner {
        flex-direction: column;
        border-top: 0.5px solid #6B6B6B;
        align-items: flex-start;
        padding-top: 10px;
    }
    .login-footer-inner p {
        font-size: 13px;
        margin-right: 0;
        margin-bottom: 7px;
    }
    .login-footer-inner ul{
        margin: 0 -22px;
    }
    .login-footer-inner ul li {
        padding: 0 22px;
    }
    .login-footer-inner ul li:last-child{
        padding-right: 0;
    }
    .login-manage-inner .form-group.media {
        flex-direction: column;
        align-items: flex-start;
    }
    .login-manage-inner .form-group.media{
        border-bottom: none;
        padding-bottom: 0;
    }
    .login-manage-inner form .form-group.media{
        align-items: flex-start;
    }
    .check{
        margin-bottom: 15px;
    }
    .creat-btn {
        margin-top: 43px;
    } 
    .rigester-main-page .login-manage {
        height: auto;
    }
    .rigester-main-page .login-footer {
        position: static;
    }
    .pawered-btn {
        position: static;
        transform: translate(0, 0);
        padding-bottom: 30px;
    }
    .pawered-btn a{
        margin: 0 auto;
    }
    .rigester-page .login-manage-inner {
        padding: 20px 28px 0;
        margin-bottom: 111px;
    }
    .rigester-page .check {
        font-size: 13px;
        margin-bottom: 40px;
    }
    .rigester-main-page .login-manage-inner p.login-link{
        display: none;
    }
    .rigester-page .nayya-logo {
        margin-bottom: 40px;
    }
    .error-text p{
        font-size: 15px;
        line-height: 25px;
    }
    .btn-primary{
        /*padding: 22px 20px;*/
        font-size: 14px;
    }
    .reset-password-page .login-manage-inner form .form-group {
        margin: 0 0 50px 0;
    }
    .festivus-secure {
        padding: 0;
    }
    .festivus-secure-inner {
        padding: 45px 28px 0;
        /*height: 100%;*/
        max-width: 100%;
        box-shadow: none;
        margin-bottom: 111px;
    }
    .festivus-secure-inner h5 {
        font-size: 15px;
        line-height: 25px;
    }
    .nayya-secure-box .text-box p {
        font-size: 15px;
        line-height: 25px; 
    }
    .nayya-logo {
        margin-bottom: 40px;
    }
    .nayya-secure {
        padding: 7px 0 0 0;
    }
    .nayya-secure-box {
        margin-top: 30px;
    }
    .policy-selected {
        margin: 41px 0 0 0;
    }
    .next-btn ul li .btn-primary.cancel-btn.festivus-btn{
        display: none;
    }
    .mediacal-insurer {
        margin: 30px 0 0 0;
    }
    .mediacal-insurer-inner {
        padding: 36px 0 0 0;
    }
    .mediacal-insurer-inner ul li a {
        padding: 0 28px;
        height: 73px;
    }
    .scroll-wrapper {
        height: 295px;
    }
    .insurer-credential-page .login-footer-inner{
        border-top-color: #fff;
    }
    .insurer-credential-page .login-footer-inner p,
    .insurer-credential-page .login-footer-inner ul li a{
        color: #fff;
    }
    .festivus-text-box h3{
        font-size: 28px;
    }
    .festivus-text-box p{
        font-size: 15px; 
    }
    .insurer-credential-connecting-page .festivus-secure-inner {
        padding: 120px 30px 0;
    }
    .connecting-inner p {
        font-size: 15px;
        line-height: 25px; 
    }
    .next-btn {
        margin: 40px 0 0 0;
    }
    .rigester-main-page .login-manage{
        height: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }
    .festivus-secure{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        background: linear-gradient(
            149.97deg
            , #F2F8F9 0%, #FFFFFF 98.1%);
    }
    .password-page .login-manage{
        height: 100%;
    }
    .festivus-main{
        height:  100%;
    }
    .festivus-main .login-footer{
        position: static;
    }
    .insurer-credential-page .festivus-secure {
        background: #0079C1;
    }
    .insurer-credential-page .login-footer {
        position: static;
    }

    .thanks-message-inner .image-holder img.dasktop-version{
        display: none !important;
    }
    .thanks-message-inner .image-holder img.mobile-version{
        display:block;
    }
    .thanks-message-inner .text-box h3 {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 15px;
        letter-spacing: -0.01em;
    }
    .thanks-message-inner .text-box p {
        font-size: 13px;
        line-height: 23px; 
        margin-bottom: 75px;
    }
    .thanks-message-inner .image-holder {
        max-width: 151px;
    }
    .thanks-message-inner .text-box {
        max-width: 100%;
        padding-left: 22px;
    }
    .thanks-message-inner .text-box a{
        display: none;
    }
    .back-messages{
        display: flex;
        max-width: 230px;
        width: 100%;
        margin-left: auto;
        padding: 0;
        margin-right: 15px;
    }
    .thanks-message-main{
        margin: 0 -15px;
    }
    .thanks-message {
        background-color: #fff;
        margin: 0;
        padding-bottom: 40px;
    }
    .thanks-title {
        display: block;
        padding: 15px;
    }
    .thanks-message-inner {
        padding: 41px 15px 0;
    }
    main#main-content.thanks-message-main{
        margin-bottom: 0;
    }
    .new-message-mian .dasktop-version{
        display: none;
    }
    .new-message-mian {
        margin: 0 -15px;
    }
    .new-message-mian .mobile-version{
        background-color: #fff;
    }
    .new-message-right{
        width: 100%;
        padding: 27px 0;
    }
    .new-message-right .form-group{
        margin-bottom: 27px;
        position: relative;
    }
    .new-message-right .form-group a{
        position: absolute;
        right: 0;
        top: 0;
    }
    .new-message-right .form-group .form-control{
        color: #6B6B6B;
        letter-spacing: -0.01em;
        font-weight: normal;
        font-size: 14px;
        padding-bottom: 10px;
        height: auto;
    }
    .new-message-right .form-group textarea.form-control{
        height: auto;
        border-bottom: none;
    }
    .new-message-top{
        height: 100vh;
    }
    main#main-content.new-message-mian{
        height: calc(100% - 168px);
        margin: 0;
        background-color: #fff;
    }
    .new-message-mian .mobile-version{
        display: block;
        position: relative;
    }
}

@media (max-width: 374px)    {
    .banner-inner .text-box h1 {
        font-size: 20px;
        line-height: 30px; 
    }
    .banner-inner .text-box p{
        font-size: 14px;
    }
    .trusted-inner ul li {
        width: 50%;
        padding: 0 15px;
    }
    .employees-guide-inner h3 {
        font-size: 18px;
    }
    .employees-guide-box .text-box h4 {
        font-size: 14px;
    }
    .employees-guide-box .text-box p{
        font-size: 14px;
    }
    .americans-pocket-inner h3{
        font-size: 20px;
    }
    .clients-sec .title .nav-pills{
        height: 42px;
    }
    .clients-sec .title .nav-pills .nav-link{
        padding: 0 8px;
    }
    .index-page .clients-sec .title .nav-pills .nav-link {
        padding: 0 20px;
    }
    .clients-box .text-box p{
        font-size: 14px;
        line-height: 22px;
    }
    .user-detail .image-holder {
        max-width: 45px;
    }
    .user-detail .text-inner {
        padding-left: 15px;
    }
    .user-detail .text-inner span{
        font-size: 13px;
    }
    .taking-people-inner h3 {
        font-size: 18px;
    }
    .taking-box {
        padding: 20px;
    }
    .copyright-inner ul li {
        padding: 0 10px;
    }
    .copyright-inner ul li a{
        font-size: 12px;
    }
    .powering-employers-box p{
        font-size: 14px;
    }
    .nayyan-perk-inner .nav-pills .nav-item{
        width: 50%;
    }
    .nayyan-perk-inner .nav-pills .nav-item .nav-link{
        text-align: center;
        font-size: 12px;
        line-height: 14px;
    }
    .nayyan-perk-box {
        padding: 20px;
    }
    .nayyan-perk-box .text-box h3 {
        font-size: 18px;
        line-height: 28px;
    }
    .find-sport-inner {
        padding: 20px;
    }
    .product-page .banner-inner .nav-pills .nav-item .nav-link {
        font-size: 11px;
        line-height: 14px;
        padding: 8px 11px;
        min-height: 44px;
    }
    .product-page .banner-inner .nav-pills .nav-item .nav-link img {
        margin-left: 8px;
    }
    .product-page .banner-inner .text-box h1 {
        font-size: 22px;
        line-height: 36px;
        margin-bottom: 15px;
    }
    .product-page .banner-inner .text-box p {
        font-size: 14px;
        line-height: 22px;
    }
    .story-banner-inner .text-box h1 {
        font-size: 18px;
        line-height: 30px;
    }
    .reason-being {
        padding: 20px;
    }
    .backed-inner ul li {
        margin: 16px 0;
        width: 50%;
    }
    .backed-inner ul li img {
        max-width: 113px;
        width: 100%;
    }
    .taking-notice-inner {
        padding: 20px;
    }
    .request-demo-inner .text-box p {
        font-size: 14px;
        line-height: 24px;
    }
    .request-demo-right .form-group .btn-default {
        max-width: 130px;
        height: 40px;
    }
    .request-demo-right .form-group p {
        font-size: 11px;
    }
    .career-page .nayyan-perk-inner .nav-pills .nav-item .nav-link { 
        padding: 9px 22px;
        text-align: center;
    }
    .footer-link ul li a.hipaa-logo img {
        max-width: inherit;
        width: 100%;
    }
    .footer-link .footer-logo-soc li {
        margin-bottom: 32px;
    }
    .privacy-policy-inner .text-box h3 {
        font-size: 20px;
        line-height: 26px;
    }
    .privacy-policy-inner .text-box p {
        margin: 15px 0;
        font-size: 14px;
        line-height: 22px;
    }
    .privacy-policy-inner .text-inner h4 {
        font-size: 16px;
        line-height: 24px;
    }
    .privacy-policy-inner .text-inner p {
        font-size: 14px;
        line-height: 24px;
    }
    .privacy-policy-inner table tbody tr td img{
        height: 11px;
    }
    .privacy-policy-inner table thead tr th, .privacy-policy-inner table tbody tr td {
        padding: 9px;
        font-size: 12px;
        line-height: 16px;
    }
    .powering-employers-inner .nav-tabs .nav-item .nav-link.active{
        padding: 8px 35px 8px 15px;
        font-size: 14px;
    }
    .login-footer-inner ul li {
        padding: 0 10px;
    }
    .login-footer-inner ul {
        margin: 0 -10px;
    }
    .reset-password-page .login-manage-inner .form-group ul li .btn-primary.cancel-btn {
        margin-right: 5px;
    }
    .reset-password-page .btn-primary {
        padding:0 20px;
        font-size: 13px;
    }
    .btn-primary span{
        margin-top: -1px;
    }
    .festivus-secure-inner h5 {
        font-size: 12px;
        line-height: 22px;
    }
    .nayya-secure-box .text-box {
        padding-left: 13px;
    }
    .nayya-secure-box .text-box p {
        font-size: 13px;
        line-height: 22px;
    }
    .nayya-secure-box .text-box h3 {
        font-size: 18px;
    }
    .festivus-text-box h3 {
        font-size: 24px;
    }
    .password-page .login-manage{
        height: 100%;
    }
    .login-manage.login-msform {
        height: 100%;
    }
    .insurer-credential-page .festivus-secure {
        height: 100%;
    }
    .insurer-credential-error{
        background: #0079C1;
    }
}













